html{
	box-sizing: border-box;
}
*, *:after, *:before{
	box-sizing: inherit;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color:#333;
	margin:0;
}
.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.intro{
	width: 100%;
	height:100vh;
	background: url("../img/building.jpg") center no-repeat;
	-webkit-background-size:cover;
	background:cover;	
	display: flex;	
	justify-content: flex-end;
	align-items:center;

}
.header_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header{
	padding-top:5px;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:1000;
}
.logo img{
	width: 80px;
}
.nav{
	font-size:16px;
	font-weight: 500;	
}
.nav a{
	color:#000;
	text-decoration: none;
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
}
.nav a:hover{
	color:#fff;
	background-color: #000;
	transition: color .2s linear;
}
@media (max-width: 900px){
	.nav a{
		margin:2px;
		padding:1px;
	}
	.intro_title{
	font-size: 20px;
	margin: 10 auto;	
	color: black;
	background-color: #fff;
	opacity: 0.5;
	}	
}
.container_label button{
	width: 170px;
	height: 50px;
	background: #f78506;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor:pointer;
}
.container_label button:hover{
	transition: color .5s linear;
	background: #000;
	color:#fff;
	font-size: 20px;
	
}
.intro_title{
	font-size: 40px;
	font-weight: 700;
	margin-right: 150px;
}

